.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 40px;
  border-radius: 50px;
  background-color: #282c34;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  height: 44px;
  border: 2px solid #fff;
}

.btn_active {
  background-color: #0000ff;
  border: none;
  color: #282c34;
}

.btn__red { 
  background-color: red;
}
/*
.btn-capital {
  width: 200px;
  height: 40px;
  border-radius: 50px;
  background-color: #282c34;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}

.btn-capital:hover {
  height: 44px;
  border: 2px solid #fff;
}*/